$background_color: #f8fafd;
$background_box: #fff;
$box_shadow: rgb(132,148,165);

$background_bar: #ddd;
$background_bar_critical: #eb5757;
$background_bar_warning: #f2c94c;
$background_bar_safe: #27ae60;

$customize_title: #f0f0f0;
$customize_actions: #828282;
$customize_slider_background: #dddddd;
$customize_slider_background_thumb: #e05151;

$checkbox-container_checkmark_hover: #cccccc;

$submit_button: #d96b6b;
$submit_button_color: #fff;

$text_color: #252525;
$subtitle_color: #828282;

